body {
  display: flex;
  flex-flow: column;
  gap: 0.2em;
}

svg {
  width: 50em;
  height: 30em;
  background-color: #eee;

  circle {
    fill: transparent;
    stroke: black;
  }

  g.point {
    circle {
      fill: black;
      stroke: black;
    }
  }

  line {
    stroke: black;
  }
}
